html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#gallery {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  margin-bottom: 30px;
}
